@font-face {
  font-family: 'DM Sans';
  src: url('./DMSans.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('./SpaceGrotesk.woff2') format('woff2');
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
}

@font-face {
  font-family: 'DM Serif Display';
  src: url('./DMSerifDisplay.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('./BebasNeue.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('./IBMPlexMono.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Gowun Batang';
  src: url('./GowunBatang.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./PretendardVariable.woff2') format('woff2');
  font-style: normal;
  font-weight: 45 930;
  font-display: swap;
}
